*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 1px solid #eee;
}
.game-info{
    display: flex;
    justify-content: space-between;
    span{
        text-transform: capitalize;
        color: #e91e63;
        font-weight: bold;
    }

}
.row{
    .hangman-draw{
        flex: 1;
        background-color: #f8f8f8;
        padding: 20px;
        height: 324px;
        .the-draw{
            width: 60px;
            height: 280px;
            border-bottom: 4px solid #222;
            position: relative;
            margin: auto;
            left: -60px;
            .stand{
                position: absolute;
                height: 100%;
                width: 4px;
                left: 50%;
                background-color: #222;
                transform: translateX(-50%);
            }
            .hang::after{
                content: '';
                position: absolute;
                width: 100px;
                height: 4px;
                background-color: #222;
                left: 30px;
                top: 10px;
            }
            .hang::before{
                content: '';
                position: absolute;
                width: 4px;
                height: 30px;
                background-color: #222;
                left: 130px;
                top: 10px;
                display: none;

            }
            .rope{
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 4px dashed #222;
                left: 95px;
                top: 35px;
                display: none;
            }
            .man{
                .head{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 4px solid #222;
                    position: absolute;
                    left: 105px;
                    top: 45px;
                    display: none;
                }
                .body{
                    position: absolute;
                    width: 4px;
                    height: 110px;
                    background-color: #222;
                    left: 130px;
                    top: 93px;
                    display: none;
                }
                .hands::before,
                .hands::after{
                    content: '';
                    position: absolute;
                    height: 4px;
                    width: 50px;
                    top: 120px;
                    background-color: #222;
                    display: none;
                }
                .hands::before{
                    left: 85px;
                    transform: rotate(30deg);
                }
                .hands::after{
                    left: 130px;
                    transform: rotate(-30deg);
                }
                .legs::before,
                .legs::after{
                    content: '';
                    position: absolute;
                    height: 4px;
                    width: 50px;
                    top: 212px;
                    background-color: #222;
                    display: none;
                }
                .legs::before{
                    left: 85px;
                    transform: rotate(-30deg);
                }
                .legs::after{
                    left: 130px;
                    transform: rotate(30deg);
                }
            }
        }
        &.wrong-1 .hang::before{
            display: block;
        }
        &.wrong-2 .rope{
            display: block;
        }
        &.wrong-3 .man .head{
            display: block;
        }
        &.wrong-4 .man .body{
            display: block;
        }
        &.wrong-5 .man .hands::before{
            display: block;
        }
        &.wrong-6 .man .hands::after{
            display: block;
        }
        &.wrong-7 .man .legs::before{
            display: block;
        }
        &.wrong-8 .man .legs::after{
            display: block;
        }
    }
    .letters{
        flex: 1;
    padding: 20px; 
    text-align: center;
    .letter-box{
        background-color: #009688;
        width: 55px;
        height: 55px;
        color: #fff;
        display: inline-block;
        font-size: 24px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        line-height: 55px;
        &.clicked{
            background-color: #222;
            opacity: 0.2;
            pointer-events: none;
        }
        
    }
    &.finished{
        pointer-events: none;
    }
    }
}
.letters-guess{
    margin: 10px auto;
    padding: 20px;
    min-height: 104px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    span{
        height: 60px;
        width: 60px;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        margin-right: 10px;
        line-height: 60px;
        font-weight: bold;
        border-bottom: 3px solid #222;
        background-color: #fdfdfd;
        transition: 0.3s;
        &.space{
            background: none;
            border: none;
            position: relative;
            &::before{
                content: "";
                background-color: #222;
                width: 20px;
                height: 3px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.popup{
    position: fixed;
    background-color: #009688;
    padding: 100px 20px;
    width: 80%;
    bottom: 5%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: 1px solid #ccc;
}